    <!-- Facebook Pixel Code -->

    <script>
    
    !function(f,b,e,v,n,t,s)
    
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    
    n.queue=[];t=b.createElement(e);t.async=!0;
    
    t.src=v;s=b.getElementsByTagName(e)[0];
    
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    
    'https://connect.facebook.net/en_US/fbevents.js');
    
    
    fbq('init', '610453876831010'); 
    
    fbq('track', 'PageView');
    
    </script>
    
    <noscript>
    
    <img height="1" width="1" 
    
    src="https://www.facebook.com/tr?id=610453876831010&ev=PageView
    
    &noscript=1"/>
    
    </noscript>
    
    <!-- End Facebook Pixel Code -->
    
    
<!-- Tracking tag. Place in the <body> section of webpage -->

<!-- Privacy policy at http://tag.brandcdn.com/privacy -->



<div class="body" data-currency-code="{{currency_selector.active_currency_code}}">

    {{#block "hero"}} {{/block}}
    <div class="container">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal}}
    {{> components/common/alert-modal}}
    <script type="text/javascript" src="https://tag.brandcdn.com/autoscript/kingsgreatbuysplus_vfhwsk5fntzrvda9/Kings_Great_Buys_Plus.js"></script>
</div>
