{{#partial "page"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- PIXEL -->
         
            <!-- Tracking tag. Place in the <body> section of webpage -->
            <!-- Privacy policy at http://tag.brandcdn.com/privacy -->
            <script type="text/javascript" src="//tag.brandcdn.com/autoscript/kingsgreatbuysplus_vfhwsk5fntzrvda9/Kings_Great_Buys_Plus.js"></script>
            
        <!--END OF FB PIXEL -->
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>

{{/partial}}

{{> layout/base}}
